<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Inicio de sesion</title>
</head>
<body class="cont">

<div class="container">
    <div class="col-md-9 card mx-auto d-flex flex-row px-0">
        <div class="img-left d-md-flex flex-column d-none">
            <h1 class="text-white text text-center">Crear cuenta</h1>
            <p class="text-white text-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
            <a href="/registroUsuario"><input type="button" class="btn btn-p d-block w-50 mt-3" value='Registro Usuario'></a> 
            <a href="/registro"><input type="button" class="btn btn-p d-block w-50 mt-3" value='Registro Entrenador'></a> 
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
            <h4 class="title text-center mt-1 pb-3">Ingresar</h4>
            <form class='col-sm-10 col-12 mx-auto' action="" method="POST">
                <div class='form-group '>
                  <input type="email" class="form-control " placeholder='email' maxlength="35">
                </div>
                 <div class='form-group py-3 '>
                  <input type="password" class="form-control" placeholder='***' maxlength="8">
                </div>
                 <div class=''>
                  <input type="submit" class="btn  d-block w-100" value='Ingresar'>
                  <a href="/registro"><p class="text-center mt-3">No tienes una cuenta?</p></a>
                </div>
         </form>
        </div>
    </div>
</div>
    <!-- 
<div class="container">
    <div class="login-container">
        <input id="item-1" type="radio" name="item" class="sign-in" checked><label for="item-1" class="item">Sign In</label>
        <input id="item-2" type="radio" name="item" class="sign-up" checked><label for="item-2" class="item">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <input placeholder="Username" id="user" type="text" class="input">
                </div>
                <div class="group">
                    
                    <input placeholder="Password" id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="footer">
                    <a href="#forgot">Forgot Password?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <input placeholder="Username" id="user" type="text" class="input">
                </div>
                <div class="group">
                    <input placeholder="Email Adress" id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <input placeholder="Password" id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input placeholder="Repeat Password" id="pass" type="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="footer">
                    <label for="item-1"> Already have an account?</label>
                </div>
            </div>
        </div>
    </div>   
</div>




    contenedor del formulario para loguearse
    <div id="hero" class="estilo">
        <header class="inicio"></header>


        <form action="/save10" method="POST" id="form">
            <h1>Inicia sesión</h1><br><br>
            <div class="grupo">
                <label for="">Correo</label>
                <input type="email" name="email" id="email" required><span class="barra"></span>
            </div>
            <div class="grupo">
                <label for="">Contraseña</label>
                <input type="text" name="password" id="password" required><span class="barra"></span>
            </div>
            <button type="submit" class="btn btn-success">Crear</button>
        </form>
        <div class="villian">
            <h1></h1>
            <form action="" method="POST" id="form"></form>
        </div>
    </div>
    video para el fondo
    <video src="/resources/VIDEOS/videolgn.mp4" muted autoplay loop type="video/mp4"></video>
    contendor para los detalles visuales del fondo
    <div class="fondolgn"></div> -->
</body>


</html>